.affilates-body-container {
  display: flex;
  margin-left: 100px;
  align-items: center;
}

.affilate-table-container{
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  margin-bottom: 0;
  /* margin-top: 100px; */
  /* margin-left: 18rem; */
  /* min-height: 100px; */
  position: center;
  /* z-index: 1030; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* background-color: #f2f2f2; */
}

.affilate-body {
  margin: auto;
  display: flex;
  margin-left: 20rem;
}

.main-data-affilate {
  display: flex;
  margin-right: 400px;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.container-data-affilate {
  display: flex;
  flex-direction: row;
}

.affilate-table-data {
  width: 50rem;
}

.affilate-deatils-all {
  font-size: 28px;
  font-weight: 600;
  margin: 20px;
  padding: 20px;
}

/* Media Queries for Small Screens */
@media screen and (max-width: 768px) {
  .affilates-body-container {
    margin-left: 20px;
    align-items: flex-start;
  }

  .affilate-body {
    margin-left: 2rem;
  }

  .main-data-affilate {
    margin-right: 20px;
  }

  .container-data-affilate {
    flex-direction: column;
  }

  .affilate-table-data {
    width: 100%;
  }
}

/* Media Queries for Medium Screens */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .affilates-body-container {
    margin-left: 50px;
    align-items: center;
  }

  .affilate-body {
    margin-left: 10rem;
  }

  .main-data-affilate {
    margin-right: 200px;
  }

  .affilate-table-data {
    width: 40rem;
  }
}

/* Media Queries for Large Screens */
@media screen and (min-width: 1025px) {
  .affilates-body-container {
    margin-left: 100px;
  }

  .affilate-body {
    margin-left: 20rem;
  }

  .main-data-affilate {
    margin-right: 400px;
  }

  .affilate-table-data {
    width: 50rem;
  }
}