.affilates-body-container {
  display: flex;
  margin-left: 100px;
  align-items: center;
}

.affilate-body {
  margin: auto;
  display: flex;
  margin-left: 20rem;
}

.main-data-affilate {
  display: flex;
  margin-right: 400px;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.container-data-affilate {
  display: flex;
  flex-direction: row;
}

.affilate-table-data {
  width: 50rem;
}

.affilate-deatils-all {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  padding: 20px;
}

/* Media Queries for Small Screens */
@media screen and (max-width: 768px) {
  .affilates-body-container {
    margin-left: 20px;
    align-items: flex-start;
  }

  .affilate-body {
    margin-left: 2rem;
  }

  .main-data-affilate {
    margin-right: 20px;
  }

  .container-data-affilate {
    flex-direction: column;
  }

  .affilate-table-data {
    width: 100%;
  }
}

/* Media Queries for Medium Screens */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .affilates-body-container {
    margin-left: 50px;
    align-items: center;
  }

  .affilate-body {
    margin-left: 10rem;
  }

  .main-data-affilate {
    margin-right: 200px;
  }

  .affilate-table-data {
    width: 40rem;
  }
}

/* Media Queries for Large Screens */
@media screen and (min-width: 1025px) {
  .affilates-body-container {
    margin-left: 100px;
  }

  .affilate-body {
    margin-left: 20rem;
  }

  .main-data-affilate {
    margin-right: 400px;
  }

  .affilate-table-data {
    width: 50rem;
  }
}